<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Настройка appenders (мест для записи логов) -->
    <Appenders>
        <!-- Консольный аппендер -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="Cp866" pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%c{1.}] - %m%n"/>
        </Console>

        <!-- Файловый аппендер -->
        <File name="FileLogger" fileName="app.log" append="true">
            <PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%c{1.}] - %m%n"/>
        </File>
    </Appenders>

    <!-- Настройка логеров -->
    <Loggers>
        <!-- Рутовый логер (для всех классов) -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>

        <!-- Логер для конкретного пакета (опционально) -->
        <Logger name="org.fileanalyzer.gradlekursach" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLogger" />
        </Logger>
    </Loggers>
</Configuration>
